<% if flash[:notice] %>
<div class="flash" role="alert">
  <%= flash[:notice] %>
</div>
<% end %>

<% if notice %>
<div class="flash" role="alert">
  <p class="notice"><%= notice %></p>
</div>
<% end %>

<% if notice %>
<div class="flash" role="alert">
  <p class="alert"><%= alert %></p>
</div>
<% end %>
