<footer class="bg-light p-5 mt-5">
  <div class="container">
    <p class="float-right text-muted"><%= link_to "Page top", "#" %></p>
    <p class="float-left text-muted">©2021 Furuya Naoya · <%= link_to "Privacy", "#" %> · <%= link_to "Terms", "#" %></p>
  </div>
</footer>
