<% if !Favorite.exists?(user_id: current_user.id, room_id: room.id) %>
  <%= link_to hotel_room_favorites_path(room_id: room.id, ), method: :post, remote: true, data: {"turbolinks" => false} do %>
    <button type="button" class="btn btn-secondary">
      LIKE登録 <span class="badge badge-light"><%= room.favorites.count %></span>
    </button>
  <% end %>
<% else %>
  <%= link_to hotel_room_favorites_path(room_id: room.id, id: room.favorites[0].id), method: :delete, remote: true, data: {"turbolinks" => false} do %>
    <button type="button" class="btn btn-primary">
      LIKE解除 <span class="badge badge-light"><%= room.favorites.count %></span>
    </button>
  <% end %>
<% end %>
