<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/home_image/top_slider1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption">
      <h5>HOTEL & RESIDENCE</h5>
      <p>ホテルレジデンスとはホテルの部屋に住むという新しい提案です</p>
    </div>
  </div>
  <div class="carousel-item">
    <img src="/home_image/top_slider2.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption">
      <h5>FLUID LIFE</h5>
      <p>流動的な時代だからこそ、場所にも縛られない生き方を</p>
    </div>
  </div>
  <div class="carousel-item">
    <img src="/home_image/top_slider3.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption">
      <h5>UTILIZATION OF THE HOTEL</h5>
      <p>Hoteresi[ホテレジ]はホテルに中長期に”住む”人に向けたサービスです</p>
    </div>
  </div>
</div>
