<div class="card-header bg-light">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "プロフィール", user_path(user.id), {class: "nav-item nav-link"} %>
        <%= link_to "お気に入り", user_path(user.id), {class: "nav-link nav-item"} %>
        <%= link_to "お問い合わせ内容", reserves_path, {class: "nav-link nav-item"} %>
        <%= link_to "マイホテル", "/users/#{user.id}/myhotels", {class: "nav-link nav-item"} %>
      </div>
    </div>
  </nav>
</div>
