<div class="container about_layout">
  <hr>
  <div class="row">
    <div class="col-md-7">
      <div class="card-body">
        <h2 class="card-title">HOTEL & RESIDENCE<span class="text-muted">/ホテル レジデンス</span></h2>
        <p class="card-text">ホテルレジデンスとはホテルを単に宿泊施設としてではなく、ホテルの部屋に”住む”という新しい機能を取り入れたサービスアパートメントです。Hoteresi[ホテレジ]レジデンスルームのプラットフォームです。</p>
      </div>
    </div>
    <div class="col-md-5">
      <img src="/home_image/about1.jpg" class="img-fluid" >
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-7 order-md-2">
      <div class="card-body">
        <h2 class="card-title">FLUID LIFE<span class="text-muted">/流動的な暮らし</span></h2>
        <p class="card-text">テクノロジーの発達により、ビジネスやライフスタイルは大きく変わりそれは今も加速し続けています。我々はそんな流動的な時代に合わせて”住みたい場所に住む”という場所に縛られない自由な暮らしを提供します。</p>
      </div>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/home_image/about2.jpg" class="img-fluid" >
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-7">
      <div class="card-body">
        <h2 class="card-title">UTILIZATION OF THE HOTEL<span class="text-muted">/ホテルの活用</span></h2>
        <p class="card-text">ルームオーナーとなれば、普段の暮らしには通常のホテル利用と変わらずホテルサービスが付くため、家事などに割く時間はほとんどなくなります。また、部屋を空けるときはホテルルームとして貸し出すこともでき、無駄がありません。</p>
      </div>
    </div>
    <div class="col-md-5">
      <img src="/home_image/about3.jpg" class="img-fluid" >
    </div>
  </div>
  <hr>
</div>
