<% if flash[:notice] %>
  <div class="flash text-white" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="flash text-white" role="alert">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
