<footer class="container py-5">
  <p class="float-right text-muted"><%= link_to "Page top", "#" %></p>
  <p class="float-left text-muted">©2021 Furuya Naoya · <%= link_to "Privacy", "#" %> · <%= link_to "Terms", "#" %></p>
</footer>
